body {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    font-family: 'Roboto', sans-serif;
}

body::after {
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient( #FC7900, #FC7900, #fff );
    opacity: 58%;
    z-index: -1;
}

.inicio {
    color: #fff;
}

.inicio h1 {
    margin-top: 10px;
}

.inicio img {
    display: flex;
    margin-top: -54px;
    margin-left: 295px;
} 

.pesquisar {
    background-color: #fff;
    width: 365px;
    height: 49px;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: -8px;
}

.pesquisar-texto {
    font-size: small;
    opacity: 36%;
    margin-left: -1px;
    margin-top: -32px;
}

.pesquisar-img {
    margin-left: 320px;
    margin-top: -20px;
}

.texto-categoria {
    color: #fff;
    margin-left: -8px;
    margin-top: 35px;
    text-shadow: 1px 1px 2px black;
}

.icon-categoria {
    display: flex;
    display: inline-block;
    background-color: #F93030;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-top: 10px;
    gap: 12px;
} 

.icon-categoria img {
    margin-top: 12px;
    margin-left: 12px;
}

.texto-favoritas {
    display: flex;
    color: #fff;
    margin-left: -8px;
    margin-top: 10px;
    text-shadow: 1px 1px 2px black;
}

.favorita1 {
    margin-top: 10px;
    margin-left: -6px;
}

.favorita2 {
    margin-left: 10px;
}

.favorita3 {
    margin-left: 6px;
}

.texto-recomendacao {
    display: flex;
    color: #fff;
    margin-left: -8px;
    margin-top: 10px;
    text-shadow: 1px 1px 2px black;
}

.recomendacao1 {
    margin-top: 10px;
    margin-left: -6px;
}

.recomendacao2 {
    margin-left: 16,
    px;
}


.container-menu {
    background-color: #F27706;
    margin-top: 675px;
    margin-left: -25px;
    width: 400px;
    height: 59px;
}




