body {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    font-family: 'Roboto', sans-serif;
}

body::after {
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient( #FC7900, #FC7900, #fff );
    opacity: 58%;
    z-index: -1;
}

.container-menu {
    background-color: #F27706;
    margin-top: 675px;
    margin-left: -25px;
    width: 400px;
    height: 59px;
}

.inicio {
    color: #fff;
}

.inicio h1 {
    margin-top: 20px;
}

.inicio p {
    font-weight: 400;
}

.inicio img {
    margin-top: -100px;
    margin-left: 300px;
}